/*APP*/
html ::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

ul {
  list-style: none;
}

.content {
  height: 100%;
  width: 100%;
}

.app-container {
  height: 100%;
  width: 100%;
}
/*HEADER*/

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  width: 100%;
  background-position: center;
  background-color: rgb(232, 239, 240);
}

.title {
  display: flex;
  margin: 10px;
  padding-left: 1em;
}

/*Nav*/

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 1.75rem;
  margin-right: 10px;
}

.nav-items a {
  color: black;
  margin-right: 5px;
  margin-left: 5px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.drop-button {
  align-self: center;
  color: black;
  padding: 5px;
  z-index: 1;
}

.dropdown-content {
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.dropdown-content.open {
  display: block;
  position: absolute;

  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  background-color: cadetblue;
  list-style: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 5px;
}

.dropdown-ul {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.dropdown-list-item {
  margin-right: 15px;
}

.dropdown-ul a {
  color: rgb(232, 239, 240);
  margin: 5px;
  font-size: 16px;
}

.drop-button {
  transition: background-color 0.5s;
}

.drop-button.open {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  color: rgb(232, 239, 240);
  background-color: cadetblue;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.drop-button:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  color: rgb(232, 239, 240);
  background-color: cadetblue;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/*HOME ROUTE*/

.home-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.landing-page-video {
  height: 95%;
  width: 100%;

  overflow: hidden;
}

/* PHOTOS ROUTE */

.image-list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-style: solid;
  border-color: cadetblue;
  overflow: visible;
}

.photo-container-visible {
  padding: 10px;
}

.photo-container-hidden {
  opacity: 0;
}

.photo-visible {
  height: 400px;
  width: 600px;
  border-style: solid;
  border-radius: 4px;
  border-color: cadetblue;

  cursor: zoom-in;
}

.photo-hidden {
  opacity: 0;
}

.photo-title {
  font-size: 12px;
}

/* ENLARGED PHOTO */

.enlarged-photo-container {
  background-color: rgb(138, 131, 123);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.enlarged-photo {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 4px;
  border-color: cadetblue;
  cursor: zoom-out;
}

/* VIDEOS ROUTE */

.videos-container {
  display: flex;
  flex-direction: column;

  align-content: flex-start;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  border-color: cadetblue;
}

.video-responsive {
  height: auto;
  width: 80%;
}

.video-description {
  align-self: center;
}

/* CONTACT ROUTE */

.contact-container {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  height: 100%;
  width: 100%;
}

.ui.raised.very.padded.text.container.segment {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background: rgba(177, 212, 235, 0.75);
  height: 60%;
  width: 40%;
  /* align-self: flex-start; */
  z-index: 1;
}

.contact-background-video {
  height: auto;
  width: 100%;
  object-fit: contain;
  z-index: -1;
  position: absolute;
}

/*LOADING*/

.loader-container {
  height: 50%;
  width: 50%;
}

@media only screen and (max-width: 700px) {
  .title {
    font-size: 1.25rem;
  }

  .nav-items {
    font-size: 1.15rem;
  }

  .dropdown-list-item {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  /*APP MOBILE*/

  #root {
    height: 100%;
    width: 100%;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  /* HEADER MOBILE */

  .title {
    font-size: 0.75rem;
  }

  .header-container {
    height: 10vh;
  }

  /* NAV MOBILE */

  .nav-items {
    font-size: 1rem;
  }

  /*HOME MOBILE*/

  .home-container {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
  }

  .landing-page-video {
    width: 100vh;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    margin-left: -375px;
  }

  /*PHOTOS MOBILE*/

  .image-list-container {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .photo-container-visible {
    height: 50%;
    width: 50%;
    object-fit: contain;
  }

  .photo-visible {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  /* ENLARGED PHOTO MOBILE */

  .enlarged-photo-container {
    background-color: rgb(138, 131, 123);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .enlarged-photo {
    width: 200%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    border-color: cadetblue;
    cursor: zoom-out;
  }

  /* VIDEOS MOBILE */

  /* CONTACT MOBILE */

  .contact-container {
    position: relative;
    display: flex;
    /* justify-content: flex-end; */
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .contact-background-video {
    position: absolute;
    width: 100vh;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
}

@media only screen and (max-width: 480px) and (orientation: landscape) {
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .enlarged-photo-container {
    background-color: rgb(138, 131, 123);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .enlarged-photo {
    object-fit: contain;

    cursor: zoom-out;
  }
}
