/*APP*/
html ::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content {
  height: 100%;
  width: 100%;
}

.app-container {
  height: 100%;
  width: 100%;
}
/*HEADER*/

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  width: 100%;
  background-position: center;
  background-color: rgb(232, 239, 240);
}

.title {
  display: flex;
  margin: 10px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav-items li {
  margin: 5px;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
}

/*HOME ROUTE*/

.home-container {
  display: flex;
  height: 95%;
  width: 100%;
  overflow: hidden;
}

.landing-page-video {
  height: 95%;
  width: 100%;

  overflow: hidden;
}

/* PHOTOS ROUTE */

.image-list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border-style: solid;
  border-color: cadetblue;
  overflow: visible;
}

.photo-container-visible {
  padding: 10px;
}

.photo-container-hidden {
  opacity: 0;
}

.photo-visible {
  height: 400px;
  width: 600px;
  border-style: solid;
  border-radius: 4px;
  border-color: cadetblue;

  cursor: zoom-in;
}

.photo-hidden {
  opacity: 0;
}

.photo-title {
  font-size: 12px;
}

/* ENLARGED PHOTO */

.enlarged-photo-container {
  background-color: rgb(138, 131, 123);
  display: flex;
  justify-content: center;
  align-items: center;
}

.enlarged-photo {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 4px;
  border-color: cadetblue;
  cursor: zoom-out;
}

/* VIDEOS ROUTE */

.videos-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-style: solid;
  border-color: darkcyan;
}

.drone-video {
  height: 400px;
  width: 600px;
}

/*LOADING*/

.loader-container {
  height: 50%;
  width: 50%;
}

@media only screen and (max-width: 480px) {
  #root {
    height: 100%;
    width: 100%;
  }

  .title {
    font-size: 0.75rem;
  }
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .header-container {
    height: 10vh;
  }

  .image-list-container {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .photo-container-visible {
    height: 40%;
    width: 40%;
    object-fit: contain;
  }

  .photo-visible {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .home-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
  }

  .landing-page-video {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vh;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    margin-left: -270px;
  }
}
